*.pdf
*.png
dataset_embedding/data/find_price/chromedriver/**
dataset_embedding/data/capacitor_relationship/**
dataset_embedding/data/datasheets/**
!dataset_embedding/data/datasheets/combine_large_xls/combined_large_excel_v5.2.xlsx


